
.animation-description {
    animation: comment 3s;
}

@keyframes comment {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.animation-avatar-foto {
    animation: image 1s ease-in-out;
  }

@keyframes image {
    from {
      width: 0px;
    }
  
    to {
      width: 166px;
    }
  }

