:root {
  font-family: "Montserrat";
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../Fonts/Montserrat/Montserrat-Medium.ttf");
}

.container {
  width: 1160px;
  margin: 0 auto;
}

h1 {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #4e4e4e;
}

.header {
  width: 100%;
  height: 120px;
  position: fixed;
  background: #5e5d5899;
  z-index: 1;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}

.header__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 198px;
  height: 67px;
}

.header__logo-wrapper {
  width: 58px;
  height: 67px;
}

.header__logo-image {
  position: absolute;
}

.header__logo-symbol {
  position: relative;
  left: 16px;
  top: 20px;
}

.header__logo-name {
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  color: #ffffff;
}

.header__logo-name span {
  font-weight: 700;
  color: #18cfab;
}

.header__nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 615px;
}

.header__nav-item,
.header__nav-loupe {
  text-decoration: none;
  color: #ffffff99;
  padding: 47.5px 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  border-bottom: 2px solid #5e5d5800;
}

.header__nav-loupe {
  width: 20px;
  padding: 47.5px 0;
  fill: #ffffff99;
}

.header__nav-item:hover,
.header__nav-loupe:hover {
  color: #18cfab;
  border-color: #18cfab;
  fill: #18cfab;
  cursor: pointer;
}

.main__home {
  background: url("../Image/Sections\ background/section-1.jpg") no-repeat
    center/cover;
  height: 1017px;
}

.main__home-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.main__home-wordpress-title {
  margin-top: 379px;
  color: #ffffff;
  text-align: center;
  height: 213px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main__home-wordpress-title-theme {
  font-weight: 700;
  font-size: 35px;
  text-transform: uppercase;
}

.main__home-wordpress-title-creative {
  font-weight: 700;
  font-size: 78px;
  text-transform: uppercase;
}

.main__home-wordpress-title-buy {
  font-weight: 400;
  font-size: 34px;
  color: #d4d4d4;
}

.main__home-wordpress-theme-color {
  color: #18cfab;
}

.main__home-wordpress-buttons {
  margin-top: 129px;
  width: 365px;
  display: flex;
  justify-content: space-between;
}

.button {
  width: 169px;
  height: 63px;
  font-weight: 700;
  font-size: 15px;
  line-height: 32px;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  box-shadow: 0px -5px #ffffff;
}

.explore {
  background: #18cfab;
}

.purchase {
  background: #00cbf6;
}

.main__option-category {
  height: 377px;
  display: flex;
  justify-content: center;
}

.main__option-item {
  margin-top: 10px;
  height: 360px;
  width: 482px;
  background: #18cfab;
  text-align: center;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
}

.main__option-item:nth-child(2n + 1) {
  background: #1c2a33;
  color: #18cfab;
}

.main__option-item:nth-child(2n + 1) > img {
  padding: 85px 0 47px;
}

.main__option-item:nth-child(2n) > img {
  padding: 95px 0 58px;
}

.main__service {
  height: 557px;
}

.main__service-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.main__service-title {
  padding: 83px 0 26px;
}

.main__service-separator {
  margin-bottom: 69px;
}

.main__service-tabs {
  display: flex;
}

.main__service-tabs-item {
  position: relative;
  width: 192px;
  height: 72px;
  background: #f8fcfe;
  border: 1px solid #edefef;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 39px;
  color: #717171;
}

.main__service-tabs-item-image {
  position: absolute;
  top: 69px;
  left: auto;
  display: none;
}

.main__service-tabs-item-image-active {
  display: block;
}

.main__service-tabs-item:hover {
  border: 1.5px solid #18cfab;
  cursor: pointer;
}

.main__service-activ-tabs {
  display: flex;
  justify-content: center;
  background-color: #18cfab;
  border: 1.5px solid #18cfab;
  color: #ffffff;
}

.main__service-description-wrapper li {
  width: 1159px;
  margin-top: 24px;
  color: #777777;
  font-weight: 300;
  font-size: 13.645px;
  line-height: 24px;
}

.main__service-description-wrapper li img {
  margin-right: 15px;
  float: left;
}

.main__purchase {
  background: url("../Image/Purchase/Layer\ 21\ 1.png") no-repeat center/cover;
  height: 476px;
}

.main__purchase-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.main__purchase-title {
  margin-top: 127px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__purchase-title p:first-child {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: #18cfab;
  text-transform: uppercase;
}

.main__purchase-title p:last-child {
  margin-top: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  color: #d8d8d8;
}

.main__purchase-button {
  margin-top: 62px;
  background-color: #18cfab;
}

.main__work {
  background-color: #e9edef;
}

.main__work-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #e9edef;
}

.main__work-title {
  padding: 95px 0 20px;
}

.main__works-tabs {
  display: flex;
  margin-top: 69px;
  color: #717171;
  font-weight: 400;
  font-size: 14px;
  line-height: 42px;
}

.main__works-tabs-item {
  padding: 7px 15px;
  border: 1px solid #dadada;
  cursor: pointer;
}

.main__works-tabs-item:first-child {
  padding: 7px 28px;
}

.main__works-tabs-item-active {
  border: 2px solid #18cfab;
}

.main__works-examples {
  padding: 69px 0 70px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  cursor: pointer;
}

.main__works-examples-replacement {
  width: 285px;
  height: 206px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-top: 6px solid #18CFAB;
}

.main__works-examples-replacement-icons {
  display: flex;
  justify-content: center;
  margin-top: 42px;
}

.main__works-examples-replacement-icons-connection,
.main__works-examples-replacement-icons-stop {
  margin: 1.5px;
  width: 42px;
  height: 42px;
}
.main__works-examples-replacement-icons-connection img:first-child,
.main__works-examples-replacement-icons-stop img:first-child {
position: absolute;
}

.main__works-examples-replacement-icons-connection img:last-child,
.main__works-examples-replacement-icons-stop img:last-child {
  position: relative;
  top: 14px;
  left: 14px;
}

.main__works-examples-replacement-title {
  font-weight: 700;
font-size: 14px;
text-transform: uppercase;
color: #18CFAB;
margin-top: 24px;
}

.main__works-examples-replacement-category {
  margin-top: 12px;
  font-weight: 300;
font-size: 12.1518px;
color: #8A8A8A;
}

.main__work-button {
  width: 168px;
  height: 63px;
  margin-bottom: 99px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 42px;
  color: #ffffff;
  text-transform: uppercase;
  background: #18cfab;
  border: none;
  border-radius: 5px;
}

.main__news {
  background-color: #ffffff;
}

.main__news-wrapper {
  height: 958px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.main__news-title {
  margin: 82px 0 24px;
}

.main__news-image-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 68px;
}

.main__news-image-item {
  position: relative;
  text-decoration: none;
  height: 325px;
  outline: none;
}

.main__news-data-post {
  width: 70px;
  height: 68px;
  background-color: #203e38;
  position: absolute;
  left: 193px;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main__news-data-post-changestyle {
  background-color: #26bc9e;
}

.main__news-data-post span {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
}

.main__news-image-title {
  font-weight: 700;
  font-size: 18px;
  padding: 11px 0 0 21px;
  color: #717171;
}

.main__news-image-title-changestyle {
  font-weight: 700;
  font-size: 18px;
  padding: 11px 0 0 21px;
  color: #18cfab;
}

.main__news-image-item p:last-of-type {
  font-weight: 300;
  font-size: 14px;
  line-height: 39px;
  color: #777777;
  padding: 0 0 44px 18px;
}

.main__client-feedback {
  height: 854px;
  background: url("../Image/Client_feedback/Layer.png") no-repeat center/cover;
}

.main__client-feedback-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.main__feedback-title {
  color: #ffffff;
  padding: 98px 0 25px;
}

.main__feedback-ico {
  margin-top: 66px;
}

.main__feedback-description {
  width: 1160px;
  height: 45px;
  margin-top: 36px;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #bbbbbb;
  text-align: center;
}

.main__feedback-client-profile {
  margin-top: 37px;
  text-align: center;
  font-weight: 300;
  font-size: 13px;
  line-height: 27px;
  color: #bbbbbb;
}

.main__feedback-client-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  color: #18cfab;
  text-transform: uppercase;
}

.main__feedback-client-photo {
  margin: 38px 0 51px;
  width: 166px;
  height: 166px;
}

.main__feedback-client-list {
  width: 483px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__feedback-client-list-rewind-back:hover,
.main__feedback-client-list-rewind-forward:hover {
  color: #ffffff;
  background: #18cfab;
}

.main__feedback-client-list-rewind-back-wrapper,
.main__feedback-client-list-rewind-forward-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main__feedback-client-photo-wrapper {
  width: 70px;
}

.main__feedback-client-photo-wrapper:hover {
  width: 70px;
  padding-bottom: 10px;
}

.main__feedback-client-photo-wrapper-active-position {
  padding-bottom: 10px;
}

.main__feedback-client-list-photo {
  position: absolute;
  width: 70px;
  height: 70px;
}

.main__feedback-client-photo-background-active {
  fill: hwb(59 4% 0%);
}

.main__gallery-images {
  height: 1366px;
  background-color: #ffffff;
}

.main__gallery-images-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.main__gallery-images-title {
  margin: 95px 0 24px;
}

.main__gallery-images-items-wrapper {
  margin: 83px 0 52px;
  width: 1160px;
  height: 921px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.main__gallery-images-items-wrapper img {
  margin-bottom: 19px;
}

.main__gallery-images-group {
  width: 364px;
  height: 453px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.main__gallery-images-group img,
.main__gallery-images-items-wrapper img:nth-child(6) {
  margin-bottom: 0;
}

.footer {
  background: #22353f;
}

.footer-wrapper {
  height: 121px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  color: #aeaeae;
}

.footer__text-change-color {
  color: #18cfab;
}
